<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" type="text/css" href="/css/inStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/borderStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/txtStyling.css">
    <link rel="stylesheet" type="text/css" href="/css/movieStyle.css">
</head>
<body class="container gradient-border">

    <div class="topL"></div>
    <div class="topM">
        <img src="/images/Logo3.png">
    </div>
    <div class="topR"></div>
    <div class="midL"></div>
    <div class="mid">
        <div class="whiteTxt">
            <div>
            <p>
                <%- include('../partials/movie', {movie}); %>
              </p>
            </div>
        </div>

        
    </div>
    <div class="midR"></div>
    <div class="footL"></div>
    <div class="footM">
        
        <form action="#" type="query" method="post">
            <input type="hidden" name="movieId" value="<%=movie.id%>">
            <input type="hidden" name="sessionId" value="<%=movie.sessionId%>">
            <input type="hidden" name="index" value="<%=movie.index%>">
            <input type="hidden" name="movieTitle" value="<%=movie.title%>">

            <input type="hidden" id="yesno" name="yesno" value="">

        <input type="image" onclick="approvedMovie(this);" name="yes" id="yes" src="/images/greenCheck2.png" width="150">
        
        <input type="image"  onclick="approvedMovie(this);" name="no" id="no" src="/images/redX.png" width="150">
    </form>

    </div>
    <div class="footR"></div>
    <script src="js/moviePick.js"></script>

</body>
</html>